DATABASE_URL="file:./dev.db"

NEXT_PUBLIC_APP_NAME="Event Scout"
NEXT_PUBLIC_DEFAULT_CITY="Cincinnati"
NEXT_PUBLIC_DEFAULT_REGION="OH"
NEXT_PUBLIC_DEFAULT_COUNTRY="USA"

TICKETMASTER_API_KEY=""
MEETUP_ACCESS_TOKEN=""
EVENTBRITE_OAUTH_TOKEN=""

ENABLE_MOCK_PROVIDER="true"
ENABLE_TICKETMASTER_PROVIDER="false"
ENABLE_MEETUP_PROVIDER="false"
ENABLE_RSS_PROVIDER="false"
ENABLE_WEBSITE_PROVIDER="false"
ENABLE_SOCIAL_LEADS="false"
